body{
  margin:0px;
  padding-top:80px;
  padding-left: 90px;
  padding-right: 20px;

}
p{
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: roboto,Arial;
  font-size:14px;
}
.thumnail{
  width: 100%;
  background-color: black;
  object-fit: contain;
}

.title{
  display: inline-block;
  width:100%;
  margin-bottom: 12px;
  font-weight:500;
  line-height:20px;
}

.author,.status{
  width:100%;
  font-size:12px;
  color:rgb(96,96,96);
  margin-bottom: 6px;
}

.video_preview{
  
}
 
.channel_picture{
  background-color: white;
}

.channel_profile{
  width:80%;
  border-radius:50px;
}

.video_info{
  background-color: white;
}

.thumnail_row{
  position:relative;
  margin-bottom: 12px;
}

.video_info_grid{
  display:grid;
  grid-template-columns: 55px 1fr;
}

.video_grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  column-gap:16px;
  row-gap: 40px;
}

.video_time{
  position:absolute;
  color:white;
  background-color: black;
  right:8px;
  bottom:5px;
  font-family: roboto,Arial;
  font-size:12px;
  font-weight:500;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:4px;
  padding-top:4px;
}