.header{
  display:flex;
  height:55px;
  flex-direction: row;
  justify-content:space-between;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color: white;
  border-bottom-color: rgb(240,240,240);
  border-bottom-style:solid ;
  border-bottom-width:1px ;
  z-index: 1;
}

.left_section{
  width: 150px;
  display:flex;
  align-items: center;
}

.middle_section{
  display:flex;
  flex:1;
  margin-left: 70px;
  margin-right:35px;
  max-width: 500px;
  align-items: center;

}
.right_section{
  margin-right: 24px;
  display:flex;
  width:210px;
  align-items: center;
  justify-content: space-between;
  flex-shrink:0;
}

.youtube_logo{
  height:20px;
}

.hambuger_menu{
  height:24px;
  margin-left: 24px;
  margin-right:24px;
}


.search_bar{
  flex:1;
  height:36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192,192,192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width:0px;
}

.search_bar::placeholder{
  font-family: Roboto,Arial;
  font-size:16px;
  padding-left: 10px;
}

.search_button{
  width:66px;
  height:40px;
  border-width: 1px;
  border-style:solid;
  border-color:rgb(192,192,192);
  margin-left: -1px;
  margin-right:10px;
}

.voice_search_button{
  width:40px;
  height:40px;
  border:none;
  border-color:rgb(248, 248, 248);
  border-radius:20px; 
}

.voice_search_icon{
  height:24px;
  margin-top:4px;
}

.search_icon{
  height:25px;
  margin-top: 4px;
}

.upload_icon{
  height:24px;
}

.youtube_app_icon{
  height:24px;

}

.notification_icon{
  height:24px;

}

.current_user_picture{
  height:32px;
  border-radius:16px; 
}
